<div>
    <h1 class="mb">Como e feito o calculo do IMC</h1>
    <p>O IMC é calculado dividindo o peso (em kg) pela altura ao quadrado (em m), de acordo com a
        seguinte fórmula: <strong>IMC = peso / (altura x altura).</strong></p>
    <br/>
    <p>O resultado de IMC é dado em kg/m2.</p>
</div>